
@media (max-width: 575.98px) {
    .navbar-brand img{
        width: 80%;
    }
    .banner .row {
        min-height: 70vh;
    }
    .banner h1 {
        font-size: 60px;
    }
    .banner a {
        padding: 8px 20px;
        margin-top: 0px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    
 }

@media (min-width: 768px) and (max-width: 991.98px) {
   
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    
 }

@media (min-width: 1200px) { 
   
 }